# Лабораторная работа №3

In [2]:
from getdata import WeatherData
from monitoring import DataMonitor

In [3]:
# получение данных
fetcher = WeatherData([48.8566, 2.3522], '2024-09-01', '2024-10-01')

weather_data = fetcher.get_weather_data()

In [4]:
# посмотрим результат работы функции
weather_data

            tavg
time
2024-09-01  23.1
2024-09-02  21.3
2024-09-03  20.0
2024-09-04  19.3
2024-09-05  15.8
2024-09-06  16.4
2024-09-07  18.5
2024-09-08  16.4
2024-09-09  16.7
2024-09-10  15.1
2024-09-11  14.6
2024-09-12  11.3
2024-09-13  11.4
2024-09-14  11.4
2024-09-15  12.0
2024-09-16  14.3
2024-09-17  15.9
2024-09-18  18.1
2024-09-19  19.1
2024-09-20  16.4
2024-09-21  17.3
2024-09-22  16.9
2024-09-23  15.4
2024-09-24  14.9
2024-09-25  14.2
2024-09-26  16.5
2024-09-27  13.0
2024-09-28  10.5
2024-09-29   9.6
2024-09-30  14.7
2024-10-01  13.8

In [ ]:
monitor = DataMonitor([48.8566, 2.3522], '2024-09-01', '2024-10-01', interval=20)

# Запуск мониторинга
monitor.start()

Current data of weather:
            tavg
time
2024-09-01  23.1
2024-09-02  21.3
2024-09-03  20.0
2024-09-04  19.3
2024-09-05  15.8
2024-09-06  16.4
2024-09-07  18.5
2024-09-08  16.4
2024-09-09  16.7
2024-09-10  15.1
2024-09-11  14.6
2024-09-12  11.3
2024-09-13  11.4
2024-09-14  11.4
2024-09-15  12.0
2024-09-16  14.3
2024-09-17  15.9
2024-09-18  18.1
2024-09-19  19.1
2024-09-20  16.4
2024-09-21  17.3
2024-09-22  16.9
2024-09-23  15.4
2024-09-24  14.9
2024-09-25  14.2
2024-09-26  16.5
2024-09-27  13.0
2024-09-28  10.5
2024-09-29   9.6
2024-09-30  14.7
2024-10-01  13.8
Current data of weather:
            tavg
time
2024-09-01  23.1
2024-09-02  21.3
2024-09-03  20.0
2024-09-04  19.3
2024-09-05  15.8
2024-09-06  16.4
2024-09-07  18.5
2024-09-08  16.4
2024-09-09  16.7
2024-09-10  15.1
2024-09-11  14.6
2024-09-12  11.3
2024-09-13  11.4
2024-09-14  11.4
2024-09-15  12.0
2024-09-16  14.3
2024-09-17  15.9
2024-09-18  18.1
2024-09-19  19.1
2024-09-20  16.4
2024-09-21  17.3
2024-09-22  16.9
2024-09-23  15.4
2024-09-24  14.9
2024-09-25  14.2
2024-09-26  16.5
2024-09-27  13.0
2024-09-28  10.5
2024-09-29   9.6
2024-09-30  14.7
2024-10-01  13.8

In [6]:
monitor.stop()

# Тестирование работы функции по получению данных

In [6]:
from analyzer import TimerowForAnalise
from meteostat import Point, Daily
import pandas as pd
from datetime import datetime

In [7]:
# Точка,в которой смотрим температуру - в данном случае Париж
paris = Point(37.77493, -122.41942)

# Временной диапазон
start = datetime(2024, 9, 1)
end = datetime(2024, 9, 10)

# Получение данных о погоде
data = Daily(paris, start, end).fetch()

In [8]:
# 'tavg' - температура
temperature_data = data['tavg']

In [9]:
fetcher = WeatherData([37.77493, -122.41942], '2024-09-01', '2024-09-10')
weather_data = fetcher.get_weather_data()

In [10]:
combined_df = pd.concat([temperature_data, weather_data], axis=1)

In [11]:
combined_df

            tavg  tavg
time
2024-09-01  17.0  17.0
2024-09-02  17.9  17.9
2024-09-03  17.6  17.6
2024-09-04  19.4  19.4
2024-09-05  19.1  19.1
2024-09-06  19.0  19.0
2024-09-07  17.6  17.6
2024-09-08  18.2  18.2
2024-09-09  17.6  17.6
2024-09-10  17.7  17.7